# Fichiers et dossiers spécifiques à Eclipse
/.classpath
/.project
/.settings/

# Dossiers binaires
/target/
/bin/
/out/

# Dépendances téléchargées par Maven
/.mvn/

# Logs et fichiers temporaires
*.log
*.tmp
*.swp
*.swo
*.bak

# Fichiers spécifiques à OpenCV
opencv/build/
opencv/lib/
*.dll
*.so
*.dylib
*.a
*.lib

# Fichiers d'IDE divers
.vscode/

# Fichiers de cache
/.cache/